yfinance
pandas
numpy
pyPortfolioOpt
scikit-learn
bs4
matplotlib
torch
cvxpy
tensorflow
scipy
qiskit
qiskit_algorithms
qiskit_optimization
qiskit_aer
qiskit_ibm_runtime
keras
deap
peewee
playhouse
tensorflow-macos 
tensorflow-metal
seaborn
pandas_datareader
jupyter